@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
}

/* scrollbar */

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.login-bg {
  background: url("./assets/universalImage/bg-sing-form.png") no-repeat center
    center fixed;
  background-size: cover;
}
.bg-disc {
  background: url("./assets/universalImage/e24d8105d045f4014524.png") no-repeat
    center;
  background-size: cover;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.no-spinner {
  -moz-appearance: textfield; /* Firefox */
}
@media screen and (max-width: 500px) {
  .max-w-md {
    width: 23rem;
  }
}
